* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 :root {
    /***Typeface***/
    --font-open-sans: "Open Sans", sans-serif;
    --fw-light-300: 300;
    --fw-regular-400: 400;
    --fw-medium-500: 500;
    --fw-semi-bold-600: 600;
    /***Color Swatches***/
    --color-gray-light-1: #f5f5f5;
    /* whitesmoke */
    --color-gray-dark-1: #ddd;
    --color-gray-dark-2: #aaa;
    --color-gray-dark-3: #999;
    --color-gray-dark-4: #555;
    --color-gray-dark-5: #333;
    --color-green-1: #008000;
    /* green */
    --color-green-2: #6b8e23;
    /* olivedrab */
    --color-yellow: #ffd700;
    /* gold */
    --color-red-1: #ff4500;
    /* orangered */
    --color-red-2: #b22222;
    /* firebrick */
    /**Filter Color**/
    --filter-color-gray-light-1: invert(100%) sepia(5%) saturate(174%) hue-rotate(238deg) brightness(116%) contrast(92%);
    --filter-color-gray-dark-1: invert(97%) sepia(1%) saturate(36%) hue-rotate(345deg) brightness(94%) contrast(89%);
    --filter-color-gray-dark-2: invert(72%) sepia(0%) saturate(2974%) hue-rotate(98deg) brightness(95%) contrast(81%);
    --filter-color-gray-dark-3: invert(73%) sepia(0%) saturate(118%) hue-rotate(131deg) brightness(92%) contrast(81%);
    --filter-color-gray-dark-4: invert(34%) sepia(8%) saturate(14%) hue-rotate(329deg) brightness(90%) contrast(88%);
    --filter-color-gray-dark-5: invert(15%) sepia(0%) saturate(0%) hue-rotate(336deg) brightness(100%) contrast(87%);
    --filter-color-green-1: invert(20%) sepia(79%) saturate(6467%) hue-rotate(113deg) brightness(99%) contrast(104%);
    --filter-color-green-2: invert(45%) sepia(76%) saturate(423%) hue-rotate(38deg) brightness(94%) contrast(86%);
    --filter-color-yellow: invert(77%) sepia(92%) saturate(3415%) hue-rotate(355deg) brightness(107%) contrast(102%);
    --filter-color-red-1: invert(32%) sepia(33%) saturate(5491%) hue-rotate(1deg) brightness(102%) contrast(105%);
    --filter-color-red-2: invert(21%) sepia(29%) saturate(5642%) hue-rotate(344deg) brightness(94%) contrast(111%);
}

body {
    height: 100vh;
    font-family: var(--font-open-sans);
    font-size: 14px;
    font-weight: var(--fw-light-300);
    color: var(--color-gray-dark-5);
}


/* HEADER & NAVIGATION */

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}


/*Navigation Bar*/

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    min-width: 960px;
}

nav .nav-container #logo .logo {
    max-height: auto;
    width: 42px;
}

nav .nav-container #logo a span {
    font-weight: var(--fw-light-300);
    font-size: 24px;
    min-width: 100px;
}

nav .nav-container #logo a {
    text-decoration: none;
    color: var(--color-green-1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav #menu a .icon {
    filter: var(--filter-color-gray-dark-3);
}

nav .nav-container #menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}

nav .nav-container #menu ul li {
    height: 100%;
}

nav .nav-container #menu ul li a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: var(--color-green-1);
}

nav .nav-container #menu ul li a .icon {
    height: auto;
    width: 16px;
}


/* Title Bar */

.title-container {
    background: var(--color-green-2);
    min-height: 100px;
    color: var(--color-gray-light-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 960px;
}

.title-container .title h1 {
    font-weight: var(--fw-medium-500);
    letter-spacing: 2px;
}

.title-container .recipe-title h2 {
    font-weight: var(--fw-regular-400);
}

.title-container .recipe-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container .chevron-right {
    filter: var(--filter-color-gray-light-1);
}


/* MAIN */

img.recipe-img,
img.author-img {
    height: auto;
    width: 50px;
}

img.author-img {
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


/* I. Recipe Quick Info */

main .quick-info-container {}


/* II. Ingredients and Instructions */


/* IV. Ratings */


/* V. Recommendations */


/* FOOTER */

footer {
    background-color: var(--color-gray-dark-4);
    color: var(--color-gray-light-1);
}

footer .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer .footer .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 960px;
    max-width: 100%;
}

footer .footer .footer-container .icon {
    filter: var(--filter-color-gray-light-1);
}

footer .footer .footer-container .left {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

footer .footer .footer-container .left .footer-logo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

footer .footer .footer-container .left .footer-logo .logo-text {
    font-weight: var(--fw-medium-500);
    font-size: 18px;
    width: inherit;
}

footer .footer .footer-container .left .footer-logo .logo {
    height: auto;
    width: 124px;
}

footer .footer .footer-container .left .deets {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

footer .footer .footer-container .left .deets .deets-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

footer .footer .footer-container .left .deets .deets-info:first-of-type .span {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
}

footer .right {
    height: 100%;
}

footer .footer .footer-container .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer .footer-container .right .whitespace {
    border: 1px solid red;
}

footer .footer .footer-container .right .social-media {
    border: 1px solid red;
    display: flex;
    align-items: end;
    justify-content: end;
    align-content: end;
}


/* Subfooter */

footer .subfooter {
    background-color: var(--color-gray-dark-5);
    color: var(--color-gray-dark-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .subfooter .subfooter-container {
    padding: 10px 0;
    min-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .subfooter .subfooter-container .developer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

footer .subfooter .subfooter-container .developer .icon {
    filter: var(--filter-color-gray-dark-3);
}